body {
  color: var(--white);
}

main.about {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
}

section {
  height: 100%;
}

section.series {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}

section.creators {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
}

.about-content h3 {
  margin: 0 0 1.5rem;
  text-transform: uppercase;
}

.about-content p {
  margin: 0 0 2rem;
}

section.split {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  background-color: var(--white);
  mix-blend-mode: difference;
  pointer-events: none;
}
