.orb {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
}

.orb:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 58%
  );
  -webkit-filter: blur(5px);
  z-index: 2;
}
.orb:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(245, 237, 48, 0),
    rgba(200, 190, 20, 0.2) 50%,
    #575300 100%
  );
}
.orb .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-160px);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1;
}
.orb-container {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.orb-one {
  background-image: url(images/default-avatar-small.png);
  background-size: 130px;
}
.orb-two {
  background-image: url(images/default-avatar-small.png);
}
.orb-three {
  background-image: url(images/default-avatar-small.png);
}
.orb-four {
  background-image: url(images/default-avatar-small.png);
}

/* .orb-one {
  background-image: url(images/default-avatar-jira.png);
  background-size: 130px;
}
.orb-two {
  background-image: url(images/default-avatar-jira.png);
}
.orb-three {
  background-image: url(images/default-avatar-jira.png);
}
.orb-four {
  background-image: url(images/default-avatar-jira.png);
} */

/* .orb-one {
  background-image: url(images/IanRemmers_Leaf_600-square.jpg);
}
.orb-two {
  background-image: url(images/KateHiggins_Darcy_600-square.jpg);
}
.orb-three {
  background-image: url(images/YohanceMyles_Jamal_600-square.jpg);
}
.orb-four {
  background-image: url(images/AngelaGulner_Luna_600-square.jpg);
} */
