body {
  background-color: var(--light-background);
  color: var(--text-dark);
}

header h1 {
  color: white;
}

.particles {
  background-color: var(--light-background);
}

main.castCrew {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}

aside {
  background-color: var(--dark-background);
  height: 100%;
  width: 30vw;
  padding: 3rem;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-light);
}
/* shadow on top and bottom to "fade in/out" the text */
div.shadow {
  height: 100vh;
  position: absolute;
  top: 0;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 10%,
    #fff 90%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* this div holds div.h3 and div.p; this is the div to be animated */
div.scroll {
  height: 100%;
  margin: 4rem 0 0 0;
}

/* this div holds the h3 and p tags */

div {
  height: 100px;
}

/* actor name */
div h3 {
  font-size: min(1.2vw, 18px);
  margin: 0 0 0.4rem;
}

/* character name */
div p {
  color: gray;
}

/* ACTOR CONTENT */

/* this section holds div.actor */
section.castContent {
  width: 70vw;
  position: absolute;
  padding: 2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}

/* this div holds the actor image and bio */
div.actor {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  position: absolute;
  top: 10%;
}

/* this div holds the actor name (h1), character (p), and bio (p) */
div.actorBio {
  width: 100%;
  max-width: 50%;
  height: auto;
}

div.image {
  width: 250px;
  height: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: 60%;
}

h1.name {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 0 0 1rem;
  line-height: 1;
  color: var(--highlight-red);
}

p.character {
  margin: 0 0 2rem;
}

p.bio {
  margin: 0 0 2rem;
  color: #333;
  font-size: 14px;
}

/* 
section.castContent h1 {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
