body {
  background-color: var(--light-background);
}

.particles {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  /* background-color: #669add; */
  /* background-color: #5177a9; */
  background-color: var(--light-background);
  /* background-color: rgb(4, 4, 4); */
}

main.castCrew {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

aside {
  background-color: var(--dark-background);
  height: 100%;
  width: 40%;
  padding: 3rem;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

div.scroll {
  height: 100%;
}

div {
  height: 120px;
}

div h3 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}
