@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes link-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* H1 Hyphen */
@keyframes hyphen {
  0% {
    height: 1rem;
  }

  50% {
    height: 2rem;
  }

  100% {
    height: 1rem;
  }
}

@keyframes digital {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20%);
  }
}

@keyframes divide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20%);
  }
}

/* Title and blurb */
main.intro {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein 0.8s 1s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
  pointer-events: none;
}

main.intro h1 svg {
  display: block;
  width: 60vw;
  height: 60vw;
}

svg rect {
  display: inline-block;
  vertical-align: middle;
  /* animation: hyphen 8s 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1); */
}

svg path.digital {
  animation: digital 6s 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

svg path.divide {
  animation: divide 6s 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

a.explore {
  color: var(--green);
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: link-fadein 0.8s 1.5s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0, 0, 0, 0.09);
}

span {
  display: block;
  padding: 1rem 2.5rem;
}
a::before,
a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--green);
}

span::before,
span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--green);
}
a:hover::before,
a:hover::after {
  width: 100%;
}
a:hover span::before,
a:hover span::after {
  height: 100%;
}

.btn::before,
.btn::after {
  transition-delay: 0s;
}
.btn span::before,
.btn span::after {
  transition-delay: 0.2s;
}
.btn::before {
  right: 0;
  top: 0;
}
.btn::after {
  left: 0;
  bottom: 0;
}
.btn span::before {
  left: 0;
  top: 0;
}
.btn span::after {
  right: 0;
  bottom: 0;
}
.btn:hover::before,
.btn:hover::after {
  transition-delay: 0.2s;
}
.btn:hover span::before,
.btn:hover span::after {
  transition-delay: 0s;
}
