@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes link-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* H1 Hyphen */
@keyframes hyphen {
  0% {
    height: 1rem;
  }

  50% {
    height: 2rem;
  }

  100% {
    height: 1rem;
  }
}

@keyframes digital {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20%);
  }
}

@keyframes divide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20%);
  }
}

/* Title and blurb */
main.intro {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein 0.8s 1s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
}

main.intro h1 svg {
  display: block;
  width: 60vw;
  height: 60vw;
}

svg rect {
  display: inline-block;
  vertical-align: middle;
  /* animation: hyphen 8s 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1); */
}

svg path.digital {
  animation: digital 6s 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

svg path.divide {
  animation: divide 6s 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

a.explore {
  color: var(--red);
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: link-fadein 0.8s 1.5s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a span.misterPixelTools {
  margin-right: 6px;
  font-size: 1.9rem;
  margin-bottom: 3px;
  transition: letter-spacing 0.2s linear;
}

a.explore:hover {
  letter-spacing: 5px;
}
