/* DM Sans font - Will probs use this as the main body font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --white: #fff;
  --light-gray: #f4f7fb;
  --gray: #e5e5e5;
  --black: #131313;
  --red: #f5550b;
  --yellow: #e2f85d;
  --green: #04ff64;
  --blue: #002fff;
  --pink: #f8c6ff;
  --light-pink: peachpuff;
  --text-dark: var(--black);
  --text-light: var(--white);
  --dark-background: var(--black);
  --light-background: var(--white);
  --highlight-pink: var(--pink);
  --highlight-red: var(--red);
  --highlight-yellow: var(--yellow);
  --highlight-gray: var(--gray);
  --highlight-green: var(--green);
  --highlight-blue: var(--blue);
}

/* ANIMATIONS */
/* For heart logo */
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.particles {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  /* background-color: #669add; */
  /* background-color: #5177a9; */
  background-color: var(--dark-background);
  /* background-color: rgb(4, 4, 4); */
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  margin: 0;
  padding: 0;
  font-family: GT America-Extended;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6;
  background-color: var(--dark-background);
  color: var(--text-light);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* need to create file to add all these type of classes */
/* maybe a global.css file? */
.gt-america {
  font-family: GT America;
  letter-spacing: 0.25vh;
  font-weight: 400;
}

.gt-america-extended {
  font-family: GT America-Extended;
  letter-spacing: 0.15vh;
}

.misterPixelTools {
  font-family: VTF MisterPixel Tools;
  font-style: normal !important;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2.5rem;
}

header h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

header h1 .misterPixelTools {
  margin-right: 6px;
  font-size: 1.9rem;
  color: var(--highlight-red);
}

.heart {
  display: inline-block;
  animation: heartbeat 1s infinite;
}

.menu-toggle svg circle,
.menu-toggle svg rect {
  transition: fill 0.3s ease;
}

.menu-toggle svg:hover circle {
  fill: var(--dark-background);
}

.menu-toggle svg:hover rect {
  fill: var(--text-light);
}

/* nav body */
nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: var(--white);
  padding: 3rem;
  transform: translate(100%, 0);
  transition: transform 0.5s 0s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav.fake-mid {
  background-color: var(--highlight-pink);
  transition-delay: 0.1s;
}

nav.fake-back {
  background-color: var(--light-gray);
  transition-delay: 0.2s;
}

body.nav-open nav {
  transform: translate(0, 0);
  transition-delay: 0.2s;
}

body.nav-open nav.fake-mid {
  transition-delay: 0.1s;
}

body.nav-open nav.fake-back {
  transition-delay: 0s;
}

/* div.internal and div.social */
nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav div.internal {
  font-size: 1.3rem;
  line-height: 36px;
  flex: 1;
  text-transform: uppercase;
}

/* menu links */
nav a {
  color: var(--text-dark);
  text-decoration: none;
  margin-bottom: 1.5rem;
  transform: translateX(0);
  transition: transform 0.2s ease;
}

nav a:hover {
  transform: translateX(5px);
  color: var(--highlight-red);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 2.5rem;
  width: 100%;
  z-index: 999;
}

footer a .misterPixelTools {
  margin-right: 6px;
  font-size: 1.2rem;
}

/* info icon in the footer */
.info {
  vertical-align: middle;
}
