.particles {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  /* background-color: #669add; */
  background-color: #5177a9;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
}
.content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.person {
  position: relative;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.person:hover {
  z-index: 1000000 !important;
}
img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#one {
  width: 130px;
  height: 130px;
}
#one-container {
  z-index: 1000;
}
.orb {
  display: inline-block;
  /* width: 100%;
  height: 100%; */
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
}

.orb:before {
  content: '';
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 30% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 58%
  );
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
}
.orb:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(245, 237, 48, 0),
    rgba(200, 190, 20, 0.2) 50%,
    #575300 100%
  );
}
.orb .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-160px);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1;
}
.orb-container {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

/* default avatar option */

.orb-one {
  background-image: url(images/default-avatar-small.png);
  background-size: 130px;
}
.orb-two {
  background-image: url(images/default-avatar-small.png);
}
.orb-three {
  background-image: url(images/default-avatar-small.png);
}
.orb-four {
  background-image: url(images/default-avatar-small.png);
}

.orb .orb-info {
  display: none;
}

.orb:hover .orb-info {
  display: block;
  position: relative;
  top: 105%;
  background: white;
  opacity: 0.85;
  padding: 5%;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* jira avatar option */

/* .orb-one {
  background-image: url(images/default-avatar-jira.png);
  background-size: 130px;
}
.orb-two {
  background-image: url(images/default-avatar-jira.png);
}
.orb-three {
  background-image: url(images/default-avatar-jira.png);
}
.orb-four {
  background-image: url(images/default-avatar-jira.png);
} */

/* photo avatar option */

/* .orb-one {
  background-image: url(images/IanRemmers_Leaf_600-square.jpg);
}
.orb-two {
  background-image: url(images/KateHiggins_Darcy_600-square.jpg);
}
.orb-three {
  background-image: url(images/YohanceMyles_Jamal_600-square.jpg);
}
.orb-four {
  background-image: url(images/AngelaGulner_Luna_600-square.jpg);
} */
