/* DM Sans font - Will probs use this as the main body font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --white: #fff;
  --light-gray: #f4f7fb;
  --gray: #e5e5e5;
  --black: #131313;
  --red: #f5550b;
  --yellow: #e2f85d;
  --green: #04ff64;
  --blue: #002fff;
  --pink: #f8c6ff;
  --light-pink: peachpuff;
  --text-dark: var(--black);
  --text-light: var(--white);
  --dark-background: var(--black);
  --light-background: var(--white);
  --highlight-pink: var(--pink);
  --highlight-red: var(--red);
  --highlight-yellow: var(--yellow);
  --highlight-gray: var(--gray);
  --highlight-green: var(--green);
  --highlight-blue: var(--blue);
}

/* ANIMATIONS */
/* For heart logo */
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes letter-spacing {
  0% {
    letter-spacing: 1px;
  }

  100% {
    letter-spacing: 5px;
  }
}

.particles {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  /* background-color: #669add; */
  /* background-color: #5177a9; */
  background-color: var(--dark-background);
  /* background-color: rgb(4, 4, 4); */
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  margin: 0;
  padding: 0;
  font-family: GT America-Extended;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6;
  background-color: var(--dark-background);
  color: var(--text-light);
}

.dark-body {
  background-color: var(--dark-background);
  color: var(--text-light);
}

.light-body {
  background-color: var(--light-background);
  color: var(--text-dark);
}

.text-light {
  color: var(--text-light);
}

.text-dark {
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* need to create file to add all these type of classes */
/* maybe a global.css file? */
.gt-america {
  font-family: GT America;
  letter-spacing: 0.25vh;
  font-weight: 400;
}

.gt-america-extended {
  font-family: GT America-Extended;
  letter-spacing: 0.15vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1.5rem 1rem 2rem;
}

header h1 {
  font-size: 14px;
  text-transform: uppercase;
  animation: letter-spacing 8s infinite alternate;
}

.menu-toggle svg circle,
.menu-toggle svg rect {
  transition: fill 0.3s ease;
}

.menu-toggle svg:hover circle {
  fill: var(--dark-background);
}

.menu-toggle svg:hover rect {
  fill: var(--text-light);
}

/* nav body */
nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: var(--white);
  padding: 3rem;
  transform: translate(100%, 0);
  transition: transform 0.5s 0s;
  border-left: 1px solid var(--black);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav.fake-mid {
  background-color: var(--highlight-pink);
  transition-delay: 0.1s;
}

nav.fake-back {
  background-color: var(--light-gray);
  transition-delay: 0.2s;
}

body.nav-open nav {
  transform: translate(0, 0);
  transition-delay: 0.2s;
}

body.nav-open nav.fake-mid {
  transition-delay: 0.1s;
}

body.nav-open nav.fake-back {
  transition-delay: 0s;
}

/* div.internal and div.social */
nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav div.internal {
  font-size: 1.3rem;
  line-height: 36px;
  flex: 1;
  text-transform: uppercase;
}

/* menu links */
nav a {
  color: var(--text-dark);
  text-decoration: none;
  margin-bottom: 1.5rem;
  transform: translateX(0);
  transition: transform 0.2s ease;
}

nav a:hover {
  transform: translateX(5px);
  color: var(--highlight-red);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 2.5rem;
  width: 100%;
  z-index: 999;
}

footer a .misterPixelTools {
  margin-right: 6px;
  font-size: 1.2rem;
}

/* info icon in the footer */
.info {
  vertical-align: middle;
}

/* INTRO PAGE */
/* Animations */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes link-fadein {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(-50px);
  }
}

@keyframes digital {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20%);
  }
}

@keyframes divide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20%);
  }
}

/* Title and blurb */
main.intro {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.8s 1s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
  pointer-events: none;
}

section.introTop {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-35%, -40%);
  animation: fadein 0.8s 1s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
}

section.introBottom {
  position: absolute;
  top: 65%;
  left: 60%;
  transform: translate(-65%, -60%);
  animation: fadein 0.8s 1.5s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
}

main.intro h1 svg {
  display: block;
  width: 60vw;
  height: 60vw;
}

h1 svg rect {
  display: inline-block;
  vertical-align: middle;
}

h1 svg path.digital {
  animation: digital 6s 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

h1 svg path.divide {
  animation: divide 6s 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

a.explore {
  color: var(--yellow);
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  animation: link-fadein 0.8s 1.5s both cubic-bezier(0.9, 0.03, 0.69, 0.22);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}

a.explore span {
  display: block;
  padding: 1rem 2.5rem;
}
a.explore::before,
a.explore::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--yellow);
}

a.explore span::before,
a.explore span::after {
  content: '';
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: var(--yellow);
}
a.explore:hover::before,
a.explore:hover::after {
  width: 100%;
}
a.explore:hover span::before,
a.explore:hover span::after {
  height: 100%;
}

a.btn::before,
a.btn::after {
  transition-delay: 0s;
}
a.btn span::before,
a.btn span::after {
  transition-delay: 0.2s;
}
a.btn::before {
  right: 0;
  top: 0;
}
a.btn::after {
  left: 0;
  bottom: 0;
}
a.btn span::before {
  left: 0;
  top: 0;
}
a.btn span::after {
  right: 0;
  bottom: 0;
}
a.btn:hover::before,
a.btn:hover::after {
  transition-delay: 0.2s;
}
a.btn:hover span::before,
a.btn:hover span::after {
  transition-delay: 0s;
}

/* STORY PAGE */
main.about {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  pointer-events: none;
}

main.about section {
  height: 100%;
}

section.series {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}

section.creators {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
}

.about-content h3 {
  margin: 0 0 1.5rem;
  text-transform: uppercase;
}

.about-content p {
  margin: 0 0 2rem;
}

section.split {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  background-color: var(--white);
  mix-blend-mode: difference;
  pointer-events: none;
}

/* CAST AND CREW PAGE */

main.castCrew {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}

aside.credits-aside {
  background-color: var(--dark-background);
  height: 100%;
  width: 25vw;
  padding: 3rem;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-light);
}
/* shadow on top and bottom to "fade in/out" the text */
div.shadow {
  height: 100vh;
  position: absolute;
  top: 0;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 10%,
    #fff 90%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* this div holds div.h3 and div.p; this is the div to be animated */
div.scroll {
  height: 100%;
  margin: 4rem 0 0 0;
}

/* this div holds the h3 and p tags */

div.name-holder {
  height: 100px;
}

/* actor name */
div h3.credits-text {
  font-size: min(1.2vw, 18px);
  margin: 0 0 0.4rem;
}

/* character name */
div p.gray {
  color: gray;
}

/* Actors */

/* this section holds div.actor */
section.castContent {
  width: 75vw;
  position: absolute;
  height: 100%;
}

/* this div holds the actor image and bio */
div.actor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: center;
  align-content: center;
  grid-gap: 2rem;
  padding: 2rem;
  margin-top: 5rem;
}

div.actor {
  height: 400px;
  position: relative;
  overflow: hidden;
  /* perspective: 10000px; */
}

div.actor img.actor-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

div.actor div.overlay {
  transform: translateY(-100%);
  /* transform: rotateY(180deg); */

  width: 100%;
  height: 100%;
  background-color: var(--dark-background);
  position: absolute;
  top: 0;
  transition: transform 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  color: var(--text-light);
  padding: 1.5rem;
  overflow-y: auto;
  z-index: 1;
}

div.actor:hover div.overlay {
  transform: translateY(0);
}

div.overlay h1.actor-name {
  font-size: 1.5rem;
  text-transform: uppercase;
}

div.overlay p.character {
  margin: 0 0 1.5rem;
}

div.overlay p.bio {
  margin: 0 0 1rem;
  font-size: 13px;
}

/* CONTACT PAGE */
main.contact-container {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  pointer-events: none;
}

main.contact-container section {
  height: 100%;
}

section.questions {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}

section.contact {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
}

section.questions div.contact-content h3 {
  margin: 0 0 1rem;
}

.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  pointer-events: all;
}

span.mail {
  display: inline-block;
  vertical-align: bottom;
}

form div.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin: 1.8rem 0;
}

div.field label {
  margin: 0 0 5px;
  font-weight: 400;
}

div.field input,
div.field textarea {
  border: 1px solid #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  outline: none;
  color: var(--text-dark);
}

div.field input {
  height: 48px;
}

div.contact-content form button {
  width: 250px;
  height: 48px;
  background-color: var(--highlight-pink);
  color: var(--text-dark);
  padding: 5px 10px;
  border: none;
  font-size: 14px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

div.contact-content form button:hover {
  background-color: var(--highlight-red);
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  aside {
    display: none;
  }

  section.castContent {
    width: 100vw;
  }
}

/* 3D MAP PAGE */
/* TODO: update to vars */

.snackbar_hidden,
.snackbar_show {
  color: var(--text-dark);
  background-color: var(--white);
  opacity: 0.975;
  padding: 14px 24px;
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 310px;
  max-width: 800px;
  height: 250px;
  width: 90vw;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
  /* align with animation speed of sidenav or 3D */
  transition: bottom 2000ms ease-in-out;
  z-index: 9000;
  font-size: 14px;
  box-sizing: border-box;
}
.snackbar_hidden {
  bottom: -250px;
}
.snackbar_show {
  bottom: 0;
}
/* https://codepen.io/green_man_5/pen/NbqwPP */

/* TODO: 
add data to json 
adjust height/styling of snackbar
close snackbar on sidenav click too
media queries for snackbar width??
fix data names
close snackbar */
